# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Misc.
*.DS_Store
build
.titor


# Build directories
build*/
Build*/

# Visual Studio
*.vcxproj
*.vcxproj.filters
*.sln

# Build artifacts
*.obj
*.lib
*.exp
*.pdb
*.dll

.deps

# ClaudPoint checkpoint system
.checkpoints/
